body{
    background-color: #f5f5f5;
    padding: 32px;
}

#title {
    font-family: sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

#box {
    display: flex;
    gap: 48px;
}


table{
    width: 50%;
    border-collapse: collapse;
    height: fit-content;
}

th, td {
    border: 1px solid #323232;
    padding: 14px;
    text-align: center;
    font-family: sans-serif;
}


form {
    background-color: white;
    width: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0 , 0.2);
    padding: 25px;
    border-radius: 8px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#form-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button{
    border: none;
    padding: 12px;
    border-radius: 4px;
    background-color: dodgerblue ;
    color: white;
    font-size: 18px;
    font-weight: bold;
}