*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

#page{
    display: flex;
    background: #ddd;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 48px;
}

#left {
    padding: 34px;
    background: white;
    border-radius: 16px;
    width: 50%;
}

#right {
    padding: 34px;
    background: white;
    border-radius: 16px;
    width: fit-content;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

input{
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 4px;
    font-size: 18px;
}

button{
    border: none;
    background-color: crimson;
    font-size: 18px;
    color: white;
    padding: 16px 32px;
    border-radius: 4px;
    font-weight: bold;
    width: fit-content;
}

button:hover{
    background-color: cornflowerblue;
}